.auth {
  padding-top: 15vh;
  height: 700px;
  .imgg{
    display: none;
  }
  .auth-form {
    padding: 1vh;
    position: absolute;
    top: 200px;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
  }
  .card {
    background-image: url("../img/navbar2.jpg");
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: #152450 0 0 10px;
    padding: 1rem;
    position: relative;
    height: 500px;
    .auth-rocket {
      position: absolute;
      right: 0;
      top: 5px;
      width: 7rem;
      transform: rotate(270deg);
      animation: rocketMove 3s ease-in-out infinite;
    }
    @keyframes rocketMove {
      0% {
        right: 5px;
        top: 10px;
      }
      50% {
        right: 20px;
        top: 20px;
      }
      100% {
        right: 5px;
        top: 10px;
      }
    }
    form {
      h2 {
        color: white;
        text-align: center;
        font-weight: bold;
      }
      label {
        color: white;
        font-weight: bold;
      }
    }
  }
  .auth-login {
    z-index: 10;
    animation-fill-mode: forwards;
  }
  .auth-register {
    z-index: 5;
    animation-fill-mode: forwards;
  }
  .auth-login.removeLogin {
    animation: turn1 1s linear;
    animation-fill-mode: forwards;
    z-index: 5;
  }
  .auth-register.showRegister {
    animation: turn2 1s linear;
    animation-fill-mode: forwards;
    z-index: 10;
  }
  .auth-login.showLogin {
    animation: turn22 1s linear;
    animation-fill-mode: forwards;
    z-index: 5;
  }
  .auth-register.removeRegister {
    animation: turn11 1s linear;
    animation-fill-mode: forwards;
    z-index: 10;
  }
  @keyframes turn1 {
    100% {
      transform: rotateY(-180deg);
      z-index: 5;
    }
  }
  @keyframes turn2 {
    0% {
      transform: rotateY(-180deg);
    }
    100% {
      transform: rotateY(-360deg);
      z-index: 10;
    }
  }
  @keyframes turn11 {
    100% {
      transform: rotateY(-180deg);
      z-index: 5;
    }
  }
  @keyframes turn22 {
    0% {
      transform: rotateY(-180deg);
    }
    100% {
      transform: rotateY(-360deg);
      z-index: 10;
    }
  }
}


@keyframes play-auth {
  0% { 
    transform: translate(0,-100%);
    opacity: 0; 
  }
  100%{
    transform: translate(0,0);
    opacity: 1; 
  }
}

.animation-auth {
animation: play-auth 1.5s;
animation-fill-mode: forwards;
}
